In [1]:
import pandas as pd
import numpy as np

In [2]:
arr = np.array([10, 20, 30, 40, 50])
print("Original Array:", arr)

mean_val = np.mean(arr)
print("Mean of array:", mean_val)

arr_plus_5 = arr + 5
print("Array plus 5:", arr_plus_5)

Original Array: [10 20 30 40 50]
Mean of array: 30.0
Array plus 5: [15 25 35 45 55]

In [3]:
df = pd.read_csv('/content/house_price_prediction.csv')
print("First 5 rows of the data:")
print(df.head())
print("\nData Info:")
df.info()

print("\nMissing Values:")
print(df.isnull().sum())

First 5 rows of the data:
    avg_income  avg_area_house_age  avg_area_num_rooms  avg_bedrooms  \
0  79545.45857            5.682861            7.009188          4.09
1  79248.64245            6.002900            6.730821          3.09
2  61287.06718            5.865890            8.512727          5.13
3  63345.24005            7.188236            5.586729          3.26
4  59982.19723            5.040555            7.839388          4.23

   avg_population         price  \
0     23086.80050  1.059034e+06
1     40173.07217  1.505891e+06
2     36882.15940  1.058988e+06
3     34310.24283  1.260617e+06
4     26354.10947  6.309435e+05

                                             address
0  208 Michael Ferry Apt. 674\nLaurabury, NE 3701...
1  188 Johnson Views Suite 079\nLake Kathleen, CA...
2  9127 Elizabeth Stravenue\nDanieltown, WI 06482...
3                          USS Barnett\nFPO AP 44820
4                         USNS Raymond\nFPO AE 09386

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   avg_income          5009 non-null   float64
 1   avg_area_house_age  5010 non-null   float64
 2   avg_area_num_rooms  5011 non-null   float64
 3   avg_bedrooms        5012 non-null   float64
 4   avg_population      5009 non-null   float64
 5   price               5012 non-null   float64
 6   address             5011 non-null   object
dtypes: float64(6), object(1)
memory usage: 274.2+ KB

Missing Values:
avg_income            3
avg_area_house_age    2
avg_area_num_rooms    1
avg_bedrooms          0
avg_population        3
price                 0
address               1
dtype: int64

In [4]:
df['avg_income'] = df['avg_income'].fillna(df['avg_income'].mean())
df['avg_area_house_age'] = df['avg_area_house_age'].fillna(df['avg_area_house_age'].mean())
df['avg_area_num_rooms'] = df['avg_area_num_rooms'].fillna(df['avg_area_num_rooms'].mean())
df['avg_population'] = df['avg_population'].fillna(df['avg_population'].mean())

df.dropna(subset=['address'], inplace=True)
print("Missing values after cleaning:")
print(df.isnull().sum())

Missing values after cleaning:
avg_income            0
avg_area_house_age    0
avg_area_num_rooms    0
avg_bedrooms          0
avg_population        0
price                 0
address               0
dtype: int64

In [5]:
new_columns = {
    'avg_income': 'Income',
    'avg_area_house_age': 'House_Age',
    'avg_area_num_rooms': 'Num_Rooms',
    'avg_bedrooms': 'Bedrooms',
    'avg_population': 'Population',
    'price': 'Price',
    'address': 'Address'
}

df.rename(columns=new_columns, inplace=True)
print("New Column Names:")
print(df.columns)

New Column Names:
Index(['Income', 'House_Age', 'Num_Rooms', 'Bedrooms', 'Population', 'Price',
       'Address'],
      dtype='object')